body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: white;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand, 
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: white;
}

.nav-toggler {
    background-color: #f3e2de;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #f3e2de;
}

.text-colored {
    color: #e15f41;
}

#iconeseventos {
    color: black;
}

.nav-cardapio .nav-link.active {
    background-color: #e15f41;
    color: white;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}