body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: white;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand, 
.navbar-brand:hover {
    color: white;
}

.nav-toggler {
    background-color: #f3e2de;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante {
    background-color: #f3e2de;
}

.text-colored {
    color: #e15f41;
}

#iconeseventos {
    color: black;
}